.vscode
build
.devcontainer
SandBox/Ethernet/build
SandBox/Ethernet/.devcontainer
SandBox/MQTT/build
SandBox/MQTT/.devcontainer
SandBox/sntp/build
SandBox/sntp/.devcontainer
SandBox/i2cScan/build
SandBox/i2cScan/.devcontainer